In [1]:
import pyspark
import findspark
import mysql.connector
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark import SparkContext

pobieranie danych z bazy

In [2]:
spark = SparkSession.builder.config("spark.jars", r'C:\Program Files (x86)\MySQL\Connector J 8.0/mysql-connector-java-8.0.25.jar') \
    .master("local").appName("PySpark_MySQL_test").getOrCreate()

In [15]:
pobrane_dane = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/loty") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "loty") \
    .option("user", "root").option("password", "mysql").load()

In [16]:
pobrane_dane.show()

+-------+--------------+--------------+----------------+-----------+-------------+-----+
|id_lotu|id_przewoznika|miejsce_wylotu|miejsce_przylotu|data_wylotu|data_przylotu| cena|
+-------+--------------+--------------+----------------+-----------+-------------+-----+
|    100|            13|      Warszawa|           Wilno| 2021-05-29|   2021-05-30|170.0|
|    101|            13|      Warszawa|           Wilno| 2021-05-29|   2021-05-30|170.0|
|    102|            13|      Warszawa|           Wilno| 2021-05-29|   2021-05-30|170.0|
|    103|            13|      Warszawa|          Berlin| 2021-05-29|   2021-05-30|190.0|
+-------+--------------+--------------+----------------+-----------+-------------+-----+

wysy≈Çanie danych do bazy

In [12]:
s = [(102, 13, "Warszawa", "Wilno", "2021-05-29", "2021-05-30", 170), (103, 13, "Warszawa", "Berlin", "2021-05-29", "2021-05-30", 190)]
df = spark.createDataFrame(s, ["id_lotu", "id_przewoznika", "miejsce_wylotu", "miejsce_przylotu", "data_wylotu", "data_przylotu", "cena"])

In [13]:
df.show()

+-------+--------------+--------------+----------------+-----------+-------------+----+
|id_lotu|id_przewoznika|miejsce_wylotu|miejsce_przylotu|data_wylotu|data_przylotu|cena|
+-------+--------------+--------------+----------------+-----------+-------------+----+
|    102|            13|      Warszawa|           Wilno| 2021-05-29|   2021-05-30| 170|
|    103|            13|      Warszawa|          Berlin| 2021-05-29|   2021-05-30| 190|
+-------+--------------+--------------+----------------+-----------+-------------+----+

In [14]:
df.write.format('jdbc').option("url", "jdbc:mysql://localhost:3306/loty") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "loty") \
    .option("user", "root").option("password", "mysql").mode('append').save()