In [30]:
#!pip install mysql-connector-python #ta paczka zainstaluje mysql-connector-java-8.0.25.jar, do którego ścieżke trzeba będzie podać w następnym kroku
import pyspark
import findspark
import mysql.connector
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark import SparkContext

pobieranie danych z bazy

In [31]:
spark = SparkSession.builder.config("spark.jars", r'C:\Program Files (x86)\MySQL\Connector J 8.0/mysql-connector-java-8.0.25.jar') \
    .master("local").appName("PySpark_MySQL").getOrCreate()

In [37]:
pobrane_dane = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/flights") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "flights") \
    .option("user", "root").option("password", "mysql").load()

In [38]:
pobrane_dane.show()

+---+--------+-----------+-----+----------+
| id|  Origin|Destination|Price|      Date|
+---+--------+-----------+-----+----------+
|102|Warszawa|      Wilno|  170|2021-05-29|
|103|Warszawa|     Berlin|  190|2021-05-30|
+---+--------+-----------+-----+----------+

wysyłanie danych do bazy

In [34]:
s = [(102, "Warszawa", "Wilno", 170, "2021-05-29"), (103, "Warszawa", "Berlin", 190, "2021-05-30")]
df = spark.createDataFrame(s, ["id", "Origin", "Destination", "Price", "Date"])

In [35]:
df.show()

+---+--------+-----------+-----+----------+
| id|  Origin|Destination|Price|      Date|
+---+--------+-----------+-----+----------+
|102|Warszawa|      Wilno|  170|2021-05-29|
|103|Warszawa|     Berlin|  190|2021-05-30|
+---+--------+-----------+-----+----------+

In [36]:
df.write.format('jdbc').option("url", "jdbc:mysql://localhost:3306/flights") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "flights") \
    .option("user", "root").option("password", "mysql").mode('append').save()